---
http_interactions:
- request:
    method: get
    uri: http://search-imdb-movies-pl6u4t3elu7dhsbwaqbsy3y6be.us-east-1.cloudsearch.amazonaws.com/2011-02-01/search?q=star%20wars&return-fields=actor,director,title,year,text_relevance&size=4&start=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"rank":"-text_relevance","match-expr":"(label ''star wars'')","hits":{"found":7,"start":5,"hit":[{"id":"tt0086190","data":{"actor":["Altman,
        John","Bonehill, Richard","Brooke, Paul","Burtt, Ben","Daniels, Anthony","Diamond,
        Peter","Fisher, Carrie","Ford, Harrison","Hamill, Mark","Jones, James Earl","Marquand,
        Richard","Mayhew, Peter","McDiarmid, Ian","McRae, Hilton","Oz, Frank","Roy,
        Deep","Shaw, Sebastian","Ward, Larry","Welsh, Pat","Williams, Billy Dee"],"director":["Marquand,
        Richard"],"text_relevance":["268"],"title":["Star Wars: Episode VI - Return
        of the Jedi"],"year":["1983"]}},{"id":"tt0121766","data":{"actor":["Bai, Ling","Bryant,
        Gene","Castle-Hughes, Keisha","Christensen, Hayden","Cooke, Ben","Daniels,
        Anthony","Jackson, Samuel L.","Jones, James Earl","Knoll, John","Lee, Christopher","Lucas,
        George","McDiarmid, Ian","McGregor, Ewan","Oz, Frank","Portman, Natalie","Smits,
        Jimmy","Spence, Paul","Steen, Suzie","Yamaguchi, Masa","de Souza Correa, Caroline"],"director":["Lucas,
        George"],"text_relevance":["266"],"title":["Star Wars: Episode III - Revenge
        of the Sith"],"year":["2005"]}}]},"info":{"rid":"d1b8bf24ec64151ef1900a937725719e16ef82997926220f8d083b43777b29a1e52ffa47d7196049","time-ms":3,"cpu-time-ms":0}}'
  recorded_at: Fri, 19 Oct 2012 12:54:31 GMT
recorded_with: VCR 2.2.4
